@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #7C3AED;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --off-white: #F3F4F6;
    --light-color: #f4f4f4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Navbar */

.navbar{
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar a:hover{
    border-bottom: 2px solid #fff;
}

/* header */
.image {
    padding: 2rem;
    padding-top: 5rem;

}

.image .image-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.image .image-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.image .image-heading .heading-inverted {
    color: var(--primary-color);
}

/*  */
/** sections **/

.section {
    padding: 2rem;
}

.section h1,
.section p {
    text-align: center;
    padding: 0.5rem;

}

.ow {
    background-color: var(--off-white);
}

/* Languages */

.languages .flex{
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover{
    transform: translateY(-15px);
}

/* Projects */
.cloud .grid{
    grid-template-columns: 4fr 3fr;
}



@media(max-width: 500px){
    .navbar{
        height: 110%;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}