@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --off-white: #F3F4F6;
    --light-color: #f4f4f4;
    --dark-gray: #6B7280;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar a:hover {
    border-bottom: 2px solid #fff;
}

/* header */
.image {
    padding: 2rem;
    padding-top: 5rem;

}

.image-img {
    padding: 2rem;
    padding-top: 5rem;
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.image .image-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.about-image {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.contact-image {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.image .image-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.about-image p {
    text-align: center;
    padding-top: 1rem;
}

.image .image-heading .heading-inverted {
    color: var(--primary-color);
}

.heading-inverted {
    color: var(--dark-gray);
}

/*  */
/** sections **/

.section {
    padding: 2rem;
}

.section h1,
.section p {
    text-align: center;
    padding: 0.5rem;
}

.ow {
    background-color: var(--off-white);
}

/* Languages */

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Projects */
.project-section .grid {
    grid-template-columns: 4fr 3fr;
}

/*  */
.projects-main .card .btn {
    padding: 5px 10px;
    margin: 0.5rem 1rem;
    background-color: #10B981;
}

/* .projects .card:hover{
    transform: scale(1.02);
} */

.projects-main .card .btn:hover {
    transform: scale(1.02);
}

.projects-main .card {
    background-color: #BFDBFE;
}

/*  */
.projects-main .card>i {
    margin-right: 20px;
}

.projects-main .grid {
    padding: 30px;
}

.projects-main .grid>* {
    grid-column: 1 / span 3;

}


/* .projects-main .grid > *:nth-child(2){
    grid-column: 1 / span 3;
    
}  */

/* Info */
.info-main h3 {
    margin: 20px 0;
}

.info-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.info-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}


.info-main a:hover {
    font-weight: bold;
}

/* Footer */

.footer .social a {
    margin: 0 10px;
}

.footer .social a:hover {
    opacity: 0.6;
}

/* For tablets */
@media(max-width: 768px) {

    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .project-section .grid,
    .projects-main .grid,
    .info-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    .cli .grid>*:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .projects-head,
    .projects-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }

    .projects-main .grid>* {
        grid-column: 1;
    }

    .projects-main .card .btn {
        justify-self: center;
        align-items: center;
        place-items: center;
    }
}

@media(max-width: 500px) {
    .navbar {
        height: 110%;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .projects-main .card .btn {
        justify-self: center;
        align-items: center;
        place-items: center;
    }
}